<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="The founders of Sciant come from mixed backgrounds - some have years as providers of IT services, some were entrepreneurs, some have a background in startups that bought services from IT service providers.">
    <link href="../styles/index.css" rel="stylesheet" />
    <link rel="icon" href="../assets/desktop/Logo.png">
    <title>About</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <script>
        $(function () {
            $("#footer").load("footer.html");
            $('#contact').load('contact.html')
        });
    </script>

</head>

<body>
    <div class="about">
        <img class='logo' src="../assets/desktop/Logo.png" />
        <a href="../index.html">HOME</a>
    </div>
    <section class="story">
        <h1>The story of Sciant</h1>
        <h3>The founders of Sciant come from mixed backgrounds - some have years as providers of IT services, some were
            entrepreneurs, some have a background in startups that bought services from IT service providers. </h3>
    </section>
    <div class="pictures-desktop">
        <div class="col1">
            <img class="img1" src="../assets/desktop/Rectangle@2x.png">
        </div>
        <div class="col2">
            <img class="img2" src="../assets/desktop/Rectangle Copy 2@2x.png">
            <img class="img3" src="../assets/desktop/Rectangle Copy 6@2x.png">
        </div>
        <div class="col3">
            <img class="img4" src="../assets/desktop/Rectangle Copy 7@2x.png">
            <img class="img5" src="../assets/desktop/Rectangle Copy 8@2x.png">
        </div>
        <div class="col4">
            <img class="img6" src="../assets/desktop/Rectangle Copy 9@2x.png">
            <img class="img7" src="../assets/desktop/Rectangle Copy 10@2x.png">
        </div>
        <div class="col5">
            <img class="img8" src="../assets/desktop/Rectangle Copy 12@2x.png">
            <img class="img9" src="../assets/desktop/Rectangle Copy 11@2x.png">
        </div>
        <div class="col6">
            <img class="img10" src="../assets/desktop/Rectangle Copy 13@2x.png">
            <img class="img11" src="../assets/desktop/Rectangle Copy 14@2x.png">
        </div>
    </div>
    <section class="noticed">
        <h3>One thing that we all noticed is that there are many customers that want and need help dragging their IT
            projects over the finish line, but lack the resources to handle the huge knowledge transfer and management
            overhead that traditional outsourcing providers require.</h3>
        <p>We sat down to sketch out how we could go about helping these customers get engaged quickly, and start
            realizing value immediately.
            We realized that this is possible if:</p>
        <ul>
            <li>
                <div>Sciant focuses on only a few business domains in which we have deep knowledge so as to avoid
                    needing a lot of knowledge transfer or hand holding from our customer;</div>
            </li>
            <li>
                <div>Sciant is extremely customer focused, tailoring our approach to the business needs of the
                    individual customer organization, as opposed to the boilerplate approach taken by many IT services
                    providers;</div>
            </li>
            <li>
                <div>Sciant is transparent, seamlessly and proactively integrating itself into our customer’s
                    team collaboration tools, or providing best of breed ones as needed;
                </div>
            </li>
            <li>
                <div>Sciant differentiates itself by solving business needs with technology, not on creating technology
                    for technology's sake;</div>
            </li>
            <li>
                <div>Sciant team members have a passion for customer service and solving our customer’s business needs
                    is part of the Sciant corporate DNA;</div>
            </li>
        </ul>
        <p class="from">From this humble plan, we set out to make a company that, in three years, grew to nearly 100
            employees in
            three countries, serving customers on four continents.
            <br><br>How can Sciant help you?
        </p>
    </section>
    <section class="management">
        <h3>Management Team</h3>
        <ul>
            <li>
                <div class="person">
                    <img src="../assets/desktop/Rectangle 3 Copy 3@2x.png">
                    <p>Evlogi Georgiev
                        <br><span>Managing Director</span></p>
                </div>
                <div class="description">
                    <p>Intrepid explorer, sailor, motorcycle enthusiast, software developer</p>
                    <span>Known for: cleaning up on office poker night
                        <br> Favorite food: green chilli naan from Lahore Kebab shop in East London</span>
                    <a class='linkedin' href="https://www.linkedin.com/in/evlogi/" target="_blank">view profile</a>
                </div>
            </li>
            <li>
                <div class="person">
                    <img src="../assets/desktop/Rectangle 3 Copy 4@2x.png">
                    <p>Nikola Toshev
                        <br><span>CTO</span></p>
                </div>
                <div class="description">
                    <p>A hacker on a mission to understand the world</p>
                    <span>Known for: Running machine learning models in his head to fake being intelligent
                        <br>Favorite question: What truth about X very few people agree with you on? (thanks Peter Thiel)</span>
                    <a class='linkedin' href="https://www.linkedin.com/in/nikola-toshev-7912951/ " target="_blank">view
                        profile</a>
                </div>
            </li>
            <li>
                <div class="person">
                    <img src="../assets/desktop/Rectangle 3 Copy 5@2x.png">
                    <p>Angel Mitev
                        <br><span>SVP, Practice Principal, Big Data | Transportation & Logistics</span></p>
                </div>
                <div class="description">
                    <p>Serial entrepreneur, big data specialist, sci-fi and fantasy aficionado</p>
                    <span>Known for: Leaping tall buildings in a single bound
                        <br> Motto: Alea iacta est!</span>
                    <a class='linkedin' href="https://www.linkedin.com/in/angel-mitev/" target="_blank">view profile</a>
                </div>
            </li>
            <li>
                <div class="person">
                    <img src="../assets/desktop/Rectangle 3 Copy 6@2x.png">
                    <p>Stephen Burke
                        <br><span>SVP, Practice Principal, Travel & Hospitality</span></p>
                </div>
                <div class="description">
                    <p>Travel enthusiast, curry lover, trekker, mountain junkie, idea generator</p>
                    <span>Known for: a love of maple syrup that only a fellow Vermonter would understand
                        <br> Countries skied: U.S., Canada, Japan, India, Italy, Austria, Switzerland, Bulgaria, Czech
                        Republic, UAE
                    </span>
                    <a class='linkedin' href="https://www.linkedin.com/in/stephen-burke-94b251/ " target="_blank">view
                        profile</a>
                </div>
            </li>
        </ul>
    </section>
    <section class="certifications">
        <h3>Certifications & Associations</h3>
        <div class="logos">
            <img class='bitmap' src="../assets/desktop/Bitmap@2x.png">
            <img class='ohmi' src="../assets/desktop/ohmi1-b.png">
            <img class='htng' src="../assets/desktop/htng-b.png">
            <img class='oracle' src="../assets/desktop/Oracle-gold-partner-logo-300x119@2x.png">
            <img class='microsoft' src="../assets/desktop/Microsoft-Silver-Partner@2x.png">
            <img class='tableau' src="../assets/desktop/Tableau@2x.png">
        </div>
    </section>
    <img class="staff" src='../assets/desktop/Group 8 Copy 2@2x.png'>
    <section id="contact"></section>
    <section class="location">
        <div class="officebg">
            <h3>Office Locations</h3>
            <div>
                <p class="bulgaria">SCIANT BULGARIA<br>
                    Sofia Tech Park<br>
                    111B Tzarigradsko Shouse,<br>
                    Sofia 1784, Bulgaria
                </p>
                <a href="https://www.google.com/maps/place/Sofia+Tech+Park/@42.6675837,23.3712135,17z/data=!3m1!4b1!4m5!3m4!1s0x40aa85d643a3af15:0xcbc66ddbb54d08b3!8m2!3d42.6675837!4d23.3734022"
                    target="_blank">show map</a>
            </div>
        </div>
        <div class="officecz">
            <div>
                <p class="czech">SCIANT CZECH<br>
                    28 rijna 11,<br>
                    Olomouc 779 00,<br>
                    Czech Republic
                </p>
                <a href="https://www.google.com/maps/place/28.+%C5%99%C3%ADjna+459%2F11,+779+00+Olomouc/@49.5950466,17.2474837,17z/data=!3m1!4b1!4m5!3m4!1s0x47124ef4671cffcb:0xe9cf0e60f687d433!8m2!3d49.5950466!4d17.2496724"
                    target="_blank">show map</a>
            </div>
        </div>
    </section>

    <div id='footer'></div>
</body>

</html>