<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="If you are interested to know more about our previous blogs, you can visit our blog archive here"/>
    <link href="../styles/index.css" rel="stylesheet" />
    <link rel="icon" href="../assets/desktop/Logo.png">
    <title>Sciant - Blog Archive</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	
    <script>
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>

</head>

<body>
    <div class="about">
        <img class='logo' src="../assets/desktop/Logo.png" />
        <a href="../index.html">HOME</a>
    </div>
    <section class="blogTitle">
        <h1>Blog Archive</h1>
    </section>
	<section class="news">
	<h2 class="year">2020</h2>
        <h2 class="year">2019</h2>
	<ul>
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/Achieving_personalisation.svg' alt="Achieving personalisation article="image">
                <div>
		    <span itemprop="datePublished"> Nov 21, 2019</span>
                    <h3 itemprop="headline">Achieving personalisation: how connectivity and big data optimisation is essential</h3>
                    <p itemprop="name">While GDPR brought restrictions on data usage, it hasn’t stopped the expectation from consumers for better personalisation. So how do you prepare your system, its interfaces and data to deliver unique experiences?</p>
                    <a itemprop="author" href=" https://medium.com/sciant/achieving-personalisation-how-connectivity-and-big-data-optimisation-is-essential-fa044f5f67b9" target="_blank">Learn more</a>
                </div>
	    </li>
	                <hr />
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/newgeneration_hotelmanagers.svg' alt="New generation of hotel general managers article="image">
                <div>
		    <span itemprop="datePublished"> Nov 13, 2019</span>
                    <h3 itemprop="headline">Forget AI — it’s a new generation of hotel general managers that’s transforming the hotel industry</h3>
                    <p itemprop="name">Beware - Hotel GMs are more tech-savvy and fully pumped to use the power of data and technology. They have their minds set on what they need to get their hotel efficient and tech systems optimized. We look at the tech trends helping them achieve… </p>
                    <a itemprop="author" href=" https://medium.com/sciant/forget-ai-its-a-new-generation-of-hotel-general-managers-that-s-transforming-the-hotel-industry-d69ef55293c9" target="_blank">Learn more</a>
                </div>
	    </li>
	                <hr />
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/fivekeytechnologies_logistics.svg' alt="Five key technologies for transformation article="image">
                <div>
		    <span itemprop="datePublished"> Nov 11, 2019</span>
                    <h3 itemprop="headline">Five key technologies for immediate digital transformation in logistics</h3>
                    <p itemprop="name">With new players disrupting logistics, established firms need to embrace new technologies. We look at the 5 technologies entering the logistics sector at scale in the next 5 years.</p>
                    <a itemprop="author" href=" https://medium.com/sciant/five-key-technologies-for-immediate-digital-transformation-in-logistics-3db34c1065b7" target="_blank">Learn more</a>
                </div>
            </li>
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/sciant_sisters_Antonia.svg' alt="Antonina Teofilova, Director of services article="image">
                <div>
		    <span itemprop="datePublished"> Nov 4, 2019</span>
                    <h3 itemprop="headline">Sciant Sisters - Antonina Teofilova, Director of services</h3>
                    <p itemprop="name">Did you know that Bulgaria has the largest proportion of women in Tech across EU, 31% versus 16%? Sciant smashes the average, with 38% of employees! Please, meet our Director of services Antonia Teofilova who chatted with us about why she thinks more women should work in technology and why women are put off from a career in technology.</p>
                    <a itemprop="author" href=" https://medium.com/sciant/sciant-sisters-antonia-teofilova-a0fdef61e677" target="_blank">Learn more</a>
                </div>
	    </li>
	                <hr />
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/fourstartups_logistics.svg' alt="Four startups shaking up the logistics article="image">
                <div>
		    <span itemprop="datePublished"> Oct 30, 2019</span>
                    <h3 itemprop="headline">Investment in logistics tech — Four startups shaking up the logistics and transport industry, October 2019</h3>
                    <p itemprop="name">Investment in logistics technology still requires more, especially as the industry represents 11% of EU GDP, generating 7 million jobs. So we take a look at four startups about to give digital transformation a bit of a shake up</p>
                    <a itemprop="author" href=" https://medium.com/sciant/investment-in-logistics-tech-four-startups-shaking-up-the-logistics-and-transport-industry-9203f2b2ed83" target="_blank">Learn more</a>
                </div>
	    </li>
			<hr />
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/investment_in_travel_tech.svg' alt="Investment in travel tech.svg article="image">
                <div>
		    <span itemprop="datePublished"> Oct 22, 2019</span>
                    <h3 itemprop="headline">Investment in travel tech — Five startups shaking up the travel industry, October 2019</h3>
                    <p itemprop="name">In the last five years travel startups have received over £1 billion in new investment. The online travel market alone is expected to grow to $817 billion by 2020 - that’s next year. So we look at some of the hottest trav tech right now.</p>
                    <a itemprop="author" href=" https://medium.com/sciant/investment-in-travel-tech-five-startups-shaking-up-the-travel-industry-october-2019-baaa6bbfeba0" target="_blank">Learn more</a>
                </div>
            </li>
	                <hr />
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/UnleashingthepotentialofNLP.svg' alt="Unleashing the potential of NLP: a case study article="image">
                <div>
		    <span itemprop="datePublished"> Oct 10, 2019</span>
                    <h3 itemprop="headline">Unleashing the potential of NLP: a case study</h3>
                    <p itemprop="name">Unleash the power of NLP - how one business is bringing efficiencies for reservation staff using machine learning by automating processes of email booking requests. Discover how it’s being done</p>
                    <a itemprop="author" href=" https://medium.com/sciant/unleashing-the-potential-of-nlp-a-case-study-5e4a45f7e42a" target="_blank">Learn more</a>
                </div>
            </li>
	                <hr />
	    <li itemscope itemtype="https://schema.org/BlogPosting">
                <img style="height:203px" src='../assets/desktop/RevolutionisinglogisticswithNFC.svg' alt="Revolutionising logistics with NFC article="image">
                <div>
		    <span itemprop="datePublished"> Oct 8, 2019</span>
                    <h3 itemprop="headline">Revolutionising logistics with NFC</h3>
                    <p itemprop="name">With more than 2 billion NFC devices already in existence, and an estimated 38.5 billion IoT-connected devices by 2020, NFC will be an integral part of the connected landscape for logistics. So how will this work in practice? Read about the role of NFC in supply chain.</p>
                    <a itemprop="author" href=" https://medium.com/sciant/revolutionising-logistics-with-nfc-d6ccaf0e12c" target="_blank">Learn more</a>
                </div>
	    </li>
			<hr />
	    <li>
                <img style="height:203px" src='../assets/desktop/SuccesfulAIimplementation.svg' alt="Successful AI implementation: preparing your business article" itemprop="image">
                <div>
		    <span itemprop="datePublished"> Sep 9, 2019</span>
                    <h3 itemprop="headline">Successful AI implementation: preparing your business</h3>
                    <p itemprop="name">AI spend is expected to reach in excess of $47B next year...if your business has not made a case for implementing AI in some form by now you risk being left behind. Check out how to prepare your business for change using artificial intelligence.</p>
                    <a itemprop="author" href=" https://medium.com/@sciant/successful-ai-implementation-preparing-your-business-830feb7df129" target="_blank">Learn more</a>
                </div>
            </li>
		     <hr />
	    <li>
                <img style="height:203px" src='../assets/desktop/RareBreedsDataScientist.svg' alt="Rare breeds — the data scientist conundrum, what can we do about it article" itemprop="image">
                <div>
		    <span itemprop="datePublished"> Aug 27, 2019</span>
                    <h3 itemprop="headline">Rare breeds — the data scientist conundrum, what can we do about it?</h3>
                    <p itemprop="name">Why is it so hard to find data scientists? And why are they so important anyway?</p>
                    <a itemprop="author" href=" https://medium.com/@sciant/rare-breeds-the-data-scientist-conundrum-what-can-we-do-about-it-4a365a7c9632" target="_blank">Learn more</a>
                </div>
            </li>
		    <hr />
	    <li>
                <img style="height:203px" src='../assets/desktop/dataandsystemintegrations.svg' alt="Data and system integration article" itemprop="image">
                <div>
		                        <span itemprop="datePublished"> Sep 24, 2019</span>
                    <h3 itemprop="headline">Data and systems integration — benefits and solutions of real connectivity</h3>
                    <p itemprop="name">The cost of not integrating your data is clear – bad data costs organisations an average $15 million per year, and  65% of businesses fearing becoming redundant if they don’t keep up. So what are you doing about it? See the benefit of integration and the opportunities applied to the hospitality market</p>
                    <a itemprop="author" href=" https://medium.com/sciant/data-and-systems-integration-benefits-and-solutions-of-real-connectivity-7d7244cda93a" target="_blank">Learn more</a>
                </div>
            </li>
		    <hr />
	    <li>
		<img style="height:203px" src='../assets/desktop/BigDataTransform.svg' alt="How big data could transform your organization and the business of your customers article" itemprop="image">
		<div>
					<span itemprop="datePublished"> Aug 13, 2019</span>
		    <h3 itemprop="headline">How big data could transform your organization and the business of your customers</h3>
		    <p itemprop="name">When the world lacks data scientists - Don’t just sit on golden nuggets of data, help your customers see them and respond to them. Data empowers businesses to make decisions in a better, more evidence-based way, mitigating against the risk of failure. Find out how to do it.</p>
	            <a itemprop="author" href=" https://medium.com/@sciant/how-big-data-could-transform-your-organization-and-the-business-of-your-customers-e5b0bb2266be" target="_blank">Learn more</a>
		</div>
	    </li>
		    <hr />
	    <li>
		<img style="height:203px" src='../assets/desktop/PreparingGenZ.svg' alt="Preparing for Gen Z article" itemprop="image">
		<div>
					<span itemprop="datePublished"> Aug 5, 2019</span>
		    <h3 itemprop="headline">Preparing for Gen Z — bridging the tech gap for generation shifts and expectations</h3>
		    <p itemprop="name">The digital natives are coming and they may not be quite impressed with our working methods - but regardless we need to know how they are consuming as they are the next buying power. Systems and processes need to meet their expectations, we look at the key aspects to consider for preparing for Gen Z</p>
	            <a itemprop="author" href=" https://medium.com/@sciant/preparing-for-gen-z-bridging-the-tech-gap-for-generation-shifts-and-expectations-64bf8659fa9f" target="_blank">Learn more</a>
		</div>
	    </li>
		    <hr />
	    <li>
		<img style="height:203px" src='../assets/desktop/TalentTravelTechnology.svg' alt="Talent in Travel technology article" itemprop="image">
		<div>
					<span itemprop="datePublished"> Aug 1, 2019</span>
		    <h3 itemprop="headline">Getting ahead: Talent in Travel technology — cultural transformation or outsourcing?</h3>
		    <p itemprop="name">Digital transformation needs businesses to think savvy about the skills they need, and for system providers to recognise the skills gap. There's only so much learning and development and employee schemes that will attract and retain the essential skills you need in your business - so how do you find the talent?</p>
	            <a itemprop="author" href=" https://medium.com/@sciant/getting-ahead-talent-in-travel-technology-cultural-transformation-or-outsourcing-4d1e54a8cc10" target="_blank">Learn more</a>
		</div>
	    </li>
		    <hr />
		<li>
                <img style="height:203px" src='../assets/desktop/BigDataWithAI.svg'>
                <div>
					<span>Jul 22, 2019</span>
                    <h3>Leveraging big data with AI to rejuvenate legacy systems</h3>
                    <p>How confident are you in your legacy system to last the journey? Is it that a trusty old-friend that will keep going with the right love and tender-care? We look at how you can rejuvenate an old infrastructure.</p>
                    <a href=" https://medium.com/@sciant/leveraging-big-data-with-ai-to-rejuvenate-legacy-systems-728a8f0a41a8" target="_blank">Learn more</a>
                </div>
            </li>
		    <hr />
			<li>
                <img style="height:203px" src='../assets/desktop/PowerFacialRec.svg'>
                <div>
					<span>Jul 16, 2019</span>
                    <h3>Power of facial recognition — The new face of the travel industry?</h3>
                    <p>Facial recognition is slowly seeping into the hospitality industry, providing a range of solutions to add to the guest experience...yet how far does or can it go?</p>
                    <a href=" https://medium.com/@sciant/power-of-facial-recognition-the-new-face-of-the-travel-industry-d3451e4e8731" target="_blank">Learn more</a>
                </div>
            </li>
		    <hr />
			<li>
                <img style="height:203px" src='../assets/desktop/AIAndMachineLearning.svg'>
                <div>
					<span>Jul 8, 2019</span>
                    <h3>AI and Machine learning — the way forward for hotels</h3>
                    <p>We see huge scope in implementing AI in just parts of the business without having to do a blanket wide approach, trialling pilot projects to build confidence. AI and machine learning will free hoteliers of repetitive time-consuming processes to focus on more strategic and creative tasks that will deliver innovation to the hotel sector. We've looked at some of the ways AI can begin to raise the performance of the hospitality ecosystem.</p>
                    <a href=" https://medium.com/@sciant/ai-and-machine-learning-the-way-forward-for-hotels-93869e616c4c" target="_blank">Learn more</a>
                </div>
            </li>
		    <hr />
			<li>
                <img style="height:203px" src='../assets/desktop/bulgariapicture.svg'>
                <div>
					<span>Jul 1, 2019</span>
                    <h3>Bulgaria-why it's a serious player in tech market</h3>
                    <p>We're proud to be part of Bulgaria's burgeoning tech market, beyond increasing start-up investment - did you know that Bulgaria was the Eastern Bloc’s post-war IT and electronics specialist? With more women in IT than other EU countries - discover Bulgaria tech.</p>
                    <a href=" https://medium.com/@sciant/bulgaria-why-its-a-serious-player-in-tech-market-37aa47b8f0b4" target="_blank">Learn more</a>
                </div>
            </li>
		    <hr />
			<li>
                <img style="height:203px" src='../assets/desktop/IoTNews.svg'>
                <div>
					<span> Jun 24, 2019</span>
                    <h3>Solving IoT in hospitality, connections and data</h3>
                    <p>IoT devices bring the next wave of connectivity and data integrations that the hospitality sector needs to manage. With the right visibility, hotels can give seamless personalised experiences.</p>
                    <a href=" https://medium.com/@sciant/solving-iot-in-hospitality-connections-and-data-7ccc02c0ac" target="_blank">Learn more</a>
                </div>
            </li>
			<hr />
			<li>
                <img style="height:203px" src='../assets/desktop/ArticleDigitalCargo.svg'>
                <div>
					<span> Jun 3, 2019</span>
                    <h3>Digital Cargo: a welcome push forward for a lagging airfreight industry</h3>
                    <p>Digitalising the shipping process is only going to improve cargo handling and help meet compliance, security, data requirements and payment processes. The eAWB standard.</p>
                    <a href=" https://medium.com/@sciant/digital-cargo-a-welcome-push-forward-for-a-lagging-airfreight-industry-12df64031dc7" target="_blank">Learn more</a>
                </div>
            </li>
		</ul>
    </section>

    <div id='footer'></div>
</body>

</html>
