
		<script type="text/javascript">		
		function sendFeedback() {
			if(validateFields(document.getElementById('entry.730869534').value)) {
				$("#emailNotValidTip").hide();
				$.ajax({
				  type: 'GET',
				  url: "https://docs.google.com/forms/d/e/1FAIpQLSdtkja2yAD22FcuZPQYrXlVCnkEfhRQn4OeT2esEFgRnwdeKw/formResponse?entry.642122648=" + 
						encodeURIComponent(document.getElementById('entry.642122648').value) + "&entry.730869534=" + encodeURIComponent(document.getElementById('entry.730869534').value) + 
						"&entry.1270872058=" + encodeURIComponent(document.getElementById('entry.1270872058').value),
						headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
				   statusCode: {
					  0: function() {
						successfulSubmission();
					  },
					  200: function() {
						successfulSubmission();
					  }
				  },
				});
			} else {
				$("#emailNotValidTip").show();
			}
		}
		
		function validateFields(emailOrPhoneField) {
			var emailRegex = /\S+@\S+\.\S+/;
			var phoneRegex = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
			return emailRegex.test(String(emailOrPhoneField).toLowerCase()) || phoneRegex.test(String(emailOrPhoneField).toLowerCase());
		}
		
		function successfulSubmission() {
			$("#getInTouchBtn").html('Thanks!');
			$("#getInTouchBtn").css('background-color','rgba(250, 250, 250, 0.15)');
			document.getElementById('entry.642122648').value = "";
			document.getElementById('entry.730869534').value = "";
			document.getElementById('entry.1270872058').value = "";
		}
		</script>

        <h2>Work with us</h2>
        <p>Get in touch to find out how Sciant can help you improve your business. We look forward to hearing from you.</p>
        <form name="gform" id="gform" target="hidden_iframe" enctype="text/plain" onsubmit="sendFeedback(); submitted=true;">
            <div class="user">
                <input type="text" id='entry.642122648' name='entry.642122648' placeholder="Your name">
                <input type="text" id='entry.730869534' name='entry.730869534' placeholder="Email or phone number">
            </div>
            <input class = 'message' type="text" id='entry.1270872058' name='entry.1270872058' placeholder="Message">
			<span class="emailNotValidTip" style="display:none;" id="emailNotValidTip" >Please, fill a valid email or phone number.</span>
            <button id="getInTouchBtn" name="getInTouchBtn" class="button" type="submit" >Get in touch</button>
        </form>
		
		<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>