
        <h2>Interested in working with us?</h2>
        <p>We offer a variety of engagement methods in order to meet our clients needs. Get in touch to find out how
            Sciant can help you!</p>
        <form action="mailto:getintouch@sciant.com" method="post" enctype="text/plain">
            <div class="user">
                <input type="text" name='Name' placeholder="Your name">
                <input type="text" name='Email' placeholder="Email or phone number">
            </div>
            <input class = 'message' type="text" name = 'Message' placeholder="Message">
            <a style="margin:auto" class="button" href="mailto:getintouch@sciant.com">Get in touch</a>
        </form>
