<ul class="footer_information">
    <li class="footer_information_el">SCIANT</li>
    <li class="footer_information_el"><a href="mailto: info@sciant.com"> info@sciant.com</a></li>
    <li class="footer_information_el"><a href='tel:+359899420440'> + 359 89 9420 440</a></li>
    <li class="footer_information_el"><a class="bulgaria" href='https://en.wikipedia.org/wiki/Sofia' target='_blank'" >SOFIA, BULGARIA </a></li>
</ul>
<ul class="footer_icon_list">
    <li class="footer_icon_element"><a href="https://www.facebook.com/sciantcom/" class="fa fa-facebook fa-lg"></a></li>
	<li class="footer_icon_element"><a href="https://www.linkedin.com/company/sciant/" class="fa fa-linkedin fa-lg"></a></li>
	<li class="footer_icon_element"><a href="https://medium.com/@sciant " class="fa fa-medium fa-lg"></a></li>
	<li class="footer_icon_element"><a href="https://vimeo.com/user101814944" class="fa fa-vimeo fa-lg"></a></li>
</ul>
