<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="If you are interested to know more about our previous news, you can visit our news archive here"/>
    <link href="../styles/index.css" rel="stylesheet" />
    <link rel="icon" href="../assets/desktop/Logo.png">
    <title>Sciant - News Archive</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	
    <script>
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>

</head>

<body>
    <div class="about">
        <img class='logo' src="../assets/desktop/Logo.png" />
        <a href="../index.html">HOME</a>
    </div>
    <section class="blogTitle">
        <h1>News Archive</h1>
    </section>
	<section class="news">
	<h2 class="year">2020</h2>
	     <ul>
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/Sciant_travelscrum.svg' alt='travelscrum sponsorship' itemprop="image">
                <div>
					<span itemprop="datePublished">Jun 8, 2020</span>
                    <h3 itemprop="headline">We support Global Travel Hackathon|11-14 June 2020</h3>
                    <p itemprop="name">Sciant is very excited to support the global ideation hackathon TravelScrum, which will bring many innovators, industry leaders, technology & business leaders together to build solutions tackling 1 or more of the challenges.</p>
                    <a itemprop="author" href=" https://hackathon2020.travelscrum.com/"_blank">Learn more</a>
                </div>
            </li>
		    <hr />
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/HotelTechClinic_June.svg' alt='Hotel recovery masterclass' itemprop="image">
                <div>
					<span itemprop="datePublished">Jun 1, 2019</span>
                    <h3 itemprop="headline">#HotelTechClinic: COVID-19 Hotel Recovery Masterclass|Sponsored by Sciant</h3>
                    <p itemprop="name">Don't miss a great opportunity to get practical advice on how hotels can bounce back from Covid-19 with cost-effective must-have technologies!</p>
                    <a itemprop="author" href=" https://www.eventbrite.co.uk/e/hoteltechclinic-covid-19-hotel-recovery-masterclass-tickets-106922235284" target="_blank">Learn more</a>
		</div>
            </li>
		    <hr />
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/Sciant_partners_with_Michael.svg' alt='Hotel recovery masterclass' itemprop="image">
                <div>
					<span itemprop="datePublished">May 28, 2019</span>
                    <h3 itemprop="headline">Sciant partners with Michael McCartan</h3>
                    <p itemprop="name">We are pleased to announce our partnership with travel and hospitality tech leader Michael McCartan as we intensify our efforts to Unlock Potential across the sector. </p>
		</div>
            </li>
		    <hr />
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/real_time_data_podcast.svg' alt='real time data podcast' itemprop="image">
                <div>
					<span itemprop="datePublished">Apr 21, 2020</span>
                    <h3 itemprop="headline">Real time data podcast, techtalk.travel|Stephen Burke</h3>
                    <p itemprop="name">For hotels to stay ahead of industry changes and challenges, introducing digitization and connecting all touchpoints across a customers journey can bring improved customer satisfaction and revenue, but also require more resources. Data integration with Real-time Data is a way to increase profit margins, deepen customer loyalty and enhance operations.</p>
                    <a itemprop="author" href=" https://www.techtalk.travel/post/podcast-real-time-data" target="_blank">Learn more</a>
                </div>
                     </li>
	     </ul>
		<hr />
        <h2 class="year">2019</h2>
	     <ul>
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/funnel_tv.svg' alt='Sciant on funnel tv' itemprop="image">
                <div>
					<span itemprop="datePublished">Dec 9, 2019</span>
                    <h3 itemprop="headline">Sciant's SVP & Practice Principal Stephen Burke on Funnel TV</h3>
                    <p itemprop="name">Watch the record from Friday's Digital on Funnel TV, if you didn't have a chance to watch a live stream. Stephen Burke about topics such as Oracle Cloud, Blockchain and Cryptocurrencies and others..</p>
                    <a itemprop="author" href=" https://www.youtube.com/watch?v=C-s8wqbXNuw&feature=youtu.be&t=1021" target="_blank">Learn more</a>
		</div>
            </li>
		      <hr />
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/open_API_adoption.svg' alt=' Simone Puorto article' itemprop="image">
                <div>
					<span itemprop="datePublished">Dec 5, 2019</span>
                    <h3 itemprop="headline">Is Simplicity Best? Challenges And Opportunities Of Mainstream Open API Adoption</h3>
                    <p itemprop="name">Great insights about the open API adoption in hospitality technology system integrations by Simone Puorto.</p>
		    <a itemprop="author" href=" https://www.hospitalitynet.org/opinion/4096095.html" target="_blank">Learn more</a>
                </div>
            </li>
		      <hr />
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/adopt_big_data.svg' alt='adopt big data article' itemprop="image">
                <div>
					<span itemprop="datePublished">Nov 26, 2019</span>
                    <h3 itemprop="headline">Why Logistics Companies Must Adopt Big Data and Cloud Technology</h3>
                    <p itemprop="name">Nowadays, over 50% of companies are using big-data analytics. Although logistics companies are not among the first to adopt it, they are likely to be the ones that stand to benefit most from it. Especially during the last-mile delivery the proper gathering and cleansing of data would enable better forecasting of events and less uncertainty.</p>
                    <a itemprop="author" href=" https://www.supplychainbrain.com/blogs/1-think-tank/post/30428-why-logistics-companies-are-slow-to-adopt-big-data-and-cloud-technology" target="_blank">Learn more</a>
                </div>
            </li>
		      <hr />
		     <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/video_angel.svg' alt=' Angel video bulgaria' itemprop="image">
                <div>
					<span itemprop="datePublished">Nov 14, 2019</span>
                    <h3 itemprop="headline">Angel Mitev - Digitalization of the Air Cargo industry | Bloombergtv.bg</h3>
                    <p itemprop="name">Frontline Dynamics is a start-up optimizing air cargo operations as part of Sciant logistic division. Angel Mitev our SVP and Practice Principal, is acting at CTO for Frontline Dynamics. Last month he was hosted by Bulgarian Bloomberg TV to talk about digitalization of the Air Cargo industry.</p>
		    <a itemprop="author" href=" https://www.bloombergtv.bg/video/angel-mitev-za-predizvikatelstvata-pred-air-cargo-industriyata" target="_blank">Learn more</a>
                </div>
            </li>
		    <hr />
                  <li itemscope itemtype="https://schema.org/NewsArticle">
                <img style="border:none" src='../assets/desktop/GermanyTourNews.svg' alt='Sciant with Frontline Dynamics attending Start.Up! Germany Tour' itemprop="image">
                <div>
					<span itemprop="datePublished">Oct 31, 2019</span>
                    <h3 itemprop="headline">Sciant with Frontline Dynamics attending Start.Up! Germany Tour</h3>
                    <p itemprop="name">Angel Mitev, our SVP & Practice Principal is attending Start.Up! Germany Tour these next few days. Together with Kevin Vaz they are representing Frontline Dynamics, meeting with companies in North-Rhine Westphalia and also pitching at the RuhrSummit 2019.</p>
                </div>
                  </li>
		       <hr />
	          <li itemscope itemtype="https://schema.org/NewsArticle">
                    <img style="border:none" src='../assets/desktop/AngelsArticleNewsPicture.svg' alt='Five key technologies for immediate digital transformation in logistics article' itemprop="image">
                <div>
	            <span itemprop="datePublished">Aug 21, 2019</span>
                    <h3 itemprop="headline">Five key technologies for immediate digital transformation in logistics</h3>
                    <p itemprop="name">Angel's opinion piece on the key technologies needed to address transformation in the logistics and transport section within the next five years was published in full by IT Pro Portal. Here Angel talks about the market situation and the changes that are coming fast to a sector still living of legacy systems but being quickly disrupted by new tech. </p>
                    <a itemprop="author" href=" https://www.itproportal.com/features/five-key-technologies-for-immediate-digital-transformation-in-logistics/" target="_blank">Learn more</a>
                </div>
                  </li>
		       <hr />
		  <li itemscope itemtype="https://schema.org/NewsArticle">
                    <img style="border:none" src='../assets/desktop/TrackingAirfreight.svg' alt='E-tracking for Air Freight news' itemprop="image">
                <div>
		    <span itemprop="datePublished">Jul 30, 2019</span>
                    <h3 itemprop="headline">E-tracking for Air Freight</h3>
                    <p itemprop="name">Bulgarian business publication covers the impending launch of Sciant's partner Frontline Dynamic - the startup with a product to optimise air cargo operations as part of our logistics division. We've co-invested with BrightCap Ventures VC fund.</p>
                    <a itemprop="author" href=" https://medium.com/@sciant/e-tracking-for-air-freight-5dbc2a13e8a2" target="_blank">Learn more</a>
                </div>
                    </li>
			<hr />
	            <li itemscope itemtype="https://schema.org/NewsArticle">
		    <img style="border:none" src='../assets/desktop/ShadesChatbots.svg' alt='50 Shades Of Chatbots: What Remains After The Sexiness Has Gone news' itemprop="image">
		<div>
		    <span itemprop="datePublished">Jul 22, 2019</span>
		    <h3 itemprop="headline">50 Shades Of Chatbots: What Remains After The Sexiness Has Gone</h3>
		    <p itemprop="name">"Now that chatbots are no longer sexy, are they finally becoming useful?" Great insight about chatbots in the Hospitality industry!</p>
		    <a itemprop="author" href=" https://www.hospitalitynet.org/opinion/4094299.html" target="_blank">Learn more</a>
		</div>
	            </li>	
	      </ul>
    </section>

    <div id='footer'></div>
</body>

</html>
